html, body {
    height: 100%;
}

.card-block {
    margin: 20px;
    padding: 25px 15px;

    background-color: white;

    border-radius: 15px;
    box-shadow: 1px 1px 11px 0px rgba(154, 153, 151, 0.43);
}

.text-poset {
    font-size: 20px;
    text-align: center;
}

.text-bonus {
    font-size: 19px;
    text-align: center;
}

.text-inst {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;

    color: #00A500;
}

.money-count {
    padding: 0px 10px;
    margin-top: -10px;

    color: #00A500;
    font-size: 84px;
    font-weight: bold;
}

.text-rubles {
    margin-top: -15px;
    font-size: 3rem;
    font-weight: normal;

    color: #00A500;
}

.get-money-btn {
    margin-top: -10px;
    padding: 23px 42px;
    color: white;
    font-size: 31px;
    background: #00A500;
    border-radius: 5px;
    border: 2px solid #00A500;
    font-weight: 900;
}

.get-money-btn:hover {
    margin-top: -10px;
    padding: 23px 42px;
    color: #00A500;
    font-size: 31px;
    background: white;
    border-radius: 15px;
    border: 2px solid rgba(128, 128, 128, 0.15);
    font-weight: 900;
}